<!DOCTYPE html>
<head>
	<!-- templatemo 419 black white -->
    <!-- 
    Black White
    http://www.templatemo.com/preview/templatemo_419_black_white
    -->
	<title>Home</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">

	{% load static %}
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/templatemo_style.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'js/script.js' %}" rel="script">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'> 
	<link href="{% static 'css/styles2.css' %}" rel="stylesheet" type="text/css">

</head>
<body>
  <!-- header start -->
  <header class="header">
	<div class="container">
	   <div class="header-main">
		  <div class="logo">
			 <img src="{% static 'image/logo.png' %}" class="logo-new">
		  </div>
		  <div class="open-nav-menu">
			 <span></span>
		  </div>
		  <div class="menu-overlay">
		  </div>
		  <!-- navigation menu start -->
		  <nav class="nav-menu">

			<ul class="menu">
			   
			   
			   <li class="menu-item">
				  <a href="http://127.0.0.1:8000/index">Home</a>
			   </li>
			   <li class="menu-item menu-item-has-children">
				<a href="#" data-toggle="sub-menu">Cameras <i class="plus"></i></a>
				<ul class="sub-menu">
					<li class="menu-item"><a href="http://127.0.0.1:8000/index/camera1">Camera 1</a></li>
					<li class="menu-item"><a href="http://127.0.0.1:8000/index/camera2">Camera 2</a></li>
					
				</ul>
			 </li>
			   
			   <li class="menu-item menu-item-has-children">
				  <a href="#" data-toggle="sub-menu">Analysis <i class="plus"></i></a>
				  <ul class="sub-menu">
					  <li class="menu-item"><a href="http://127.0.0.1:8000/index/video_analysis">Video Analysis</a></li>
					  <li class="menu-item"><a href="http://127.0.0.1:8000/index/model_eval">Image Analysis</a></li>
					  
				  </ul>
			   </li>
			   <li class="menu-item">
				  <a href="http://127.0.0.1:8000/index/settings">Settings</a>
			   </li>
			   <li class="menu-item">
				<a href="http://127.0.0.1:8000/index/about_us">About Us</a>
				</li>
			   
			</ul>
		  </nav>
		  <!-- navigation menu end -->
	   </div>
	</div>
 </header>
 <!-- header end -->

<!-- home section start -->
<section class="home-section">
	<!-- <img class="banner" src="{% static 'image/banner.jpg' %}"> -->
	
</section>
<div class="hero-content">
	<!-- <img src="{% static 'image/eye-svgrepo-com (1).svg' %}" class="eye-svg"> -->
	
	<h1 class="hero-title">Legendary team </h1>
	<!-- <p class="hero-desc">Violence Detection System using Surveillance Camera</p>
	<div class="container-load">
		<div class="typewriter2" style="color: white;">The camera's unblinking eye captures every moment, ensuring that nothing goes unseen</div>
	  </div> -->
</div>


				<footer>
					<p class="col-lg-6 col-md-6 col-sm-12 col-xs-12 templatemo-copyright">Copyright &copy; Nayan Nirikshan <!-- Credit: www.templatemo.com --></p>
					
				</footer>
			</div>	
		</div> <!-- right section -->
	</div>
	<script src="https://kit.fontawesome.com/86098cddac.js" crossorigin="anonymous"></script>	
</body>
</html>